# flake8 does not support pyproject.toml (https://github.com/PyCQA/flake8/issues/234)

[flake8]
select = F, W, E, C
# We should set max line length lower eventually
max-line-length = 130
exclude =
    docs,
    .tox,
    .eggs,
    build
per-file-ignores =
    __init__.py: F401
ignore =
    E117, E122, E123, E128, E225, E226, E231, E241, E251, E261, E302, E701, W291, W293, W391, W503, W504, 
